
.gradle/

.idea/

my-project/gradlew

my-project/gradle/

gradle/

my-project/gradlew.bat

my-project/business-logic/build/

my-project/data-model/build/

my-project/app/build/

my-build-logic/java-plugins/build/

my-other-project/shared-utils/build/

spring-test/build/

fx-test/fx-one/build/

fx-test/fx-one/out/

fx-test/gradlew

fx-test/gradlew.bat

fx-test/fx-two/build/

out/

fx-test/fx-four-signal/build/

fx-test/fx-three/build/

ti-java-lib/gradlew

ti-java-lib/gradlew.bat

ti-java-lib/ti-utils/build/

log/
