<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- Консольный вывод -->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%level %logger{36}: %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Логирование в файл -->
    <appender name="toFile" class="ch.qos.logback.core.FileAppender">
        <file>log/mylogfile.log</file>
        <append>false</append>
        <encoder>
            <pattern>%level %logger{36}: %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Основной логгер -->
    <root level="trace">
        <appender-ref ref="console"/>
        <appender-ref ref="toFile"/>
    </root>

</configuration>